# .env - This is for convenience, NOT security
# These will be visible in the built app anyway

REACT_APP_FIREBASE_API_KEY=your_api_key_here
REACT_APP_FIREBASE_AUTH_DOMAIN=freeplink-83c62.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=freeplink-83c62
REACT_APP_FIREBASE_STORAGE_BUCKET=freeplink-83c62.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=117595277379
REACT_APP_FIREBASE_APP_ID=1:117595277379:web:your_app_id_here
REACT_APP_FIREBASE_MEASUREMENT_ID=G-your_measurement_id
